# Reading Data
Database provided by Rebrickable.
<img src="datasets/downloads_schema.png">

In [10]:
#Import modules
import pandas as pd

#Read colors data
colors = pd.read_csv('datasets/colors.csv')

#Printing the first few rows
colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

# Exploring the number of colors

In [11]:
num_colors = len(colors.rgb)
print(num_colors,' different colors of legos')

135  different colors of legos

The is_trans column indicates whether a color is transparent or not, let us explore the distribuition of transparent vs non-transparent colors.

In [14]:
colors_summary = colors.groupby(['is_trans']).count()
print(colors_summary)

           id  name  rgb
is_trans
f         107   107  107
t          28    28   28

In [ ]:
#Set matplotlib to load inline
%matplotlib notebook

#read the sets data
sets = pd.read_csv('datasets/sets.csv')

sets.head()

#create a summary of average parts by year: 'parts_by_year"
parts_by_year = sets[['year','num_parts']]